.add-form {
    border-radius: 10px;
    border: 4px solid #FFDADA;
    background: white;
    width: 700px;
    height: 400px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cross {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 15px;
    top: 10px;
    transition: 0.1s ease;
}

.cross:hover {
    width: 40px;
    height: 40px;
    transform: translateX(5px) translateY(-5px);
}

.add-form-title {
    margin-top: 40px;
    font-size: 25px;
    font-family: sans-serif;
}


.add-form-table {
    margin-top: 40px;
    width: 80%;
  
}

.add-form-table td {
    border: none;
    height: 45px;
}

input {
    width: 350px;
    border: 1px solid #FFDADA;
    height: 30px;
    padding-left: 10px;
}